:root {
    --transparent-white-bg: rgba(255, 255, 255, .1);
    --transparent-white-bg-bt: rgba(255, 255, 255, .3);
    --transparent-white-border: rgba(255, 255, 255, .5);
    --white-font-color: rgba(255, 255, 255, 1);
    --information-negative: rgba(214, 4, 4, 0.8);
    --information-negative-dark: rgba(255, 0, 0, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin-bottom: 12px;
}

h1,
p {
    color: var(--white-font-color);
    text-align: center;
}

aside {
    width: 300px;
    margin-top: 460px;
    display: flex;
    justify-content: space-between;
    background: var(--information-negative);
    border-radius: 10px;
    padding: 10px 20px;
    color: var(--white-font-color);
    font-size: 13px;
    transition: all .5s;
}

aside:hover {
    cursor: pointer;
    background: var(--information-negative-dark);
}

div.wrapper {
    background: linear-gradient(0deg, rgba(0, 8, 29, 0.7), rgba(0, 8, 29, 0.7)), url(./img/lousa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.container {
    position: absolute;
    border: 1px solid var(--transparent-white-border);
    border-radius: 10px;
    width: 300px;
    height: 360px;
    padding: 30px 15px;
    overflow: auto;
    display: grid;
    place-items: center;
    background: var(--transparent-white-bg);
    backdrop-filter: blur(10px);
}

div.description.active,
form.form-calc.active {
    opacity: 1;
    transition: opacity .5s;

}

div.description.off,
form.form-calc.off {
    opacity: 0;
    transition: opacity .5s;
}

form.form-calc {
    width: 65%;
    margin: auto;
    padding-top: 15px;
    display: grid;
    place-items: center;
}

form.form-calc input,
input.bt-back {
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
    background: var(--transparent-white-bg);
    text-align: center;
    color: var(--white-font-color);
    border-radius: 5px;
    border: none;
    transition: all .5s;
}

form.form-calc input:focus {
    outline: 1px solid var(--transparent-white-border);
}

form.form-calc input.bt-check-calc, 
input.bt-back {
    margin-top: 30px;
    border: 1px solid var(--transparent-white-border);
}

form.form-calc input.bt-check-calc:hover, 
input.bt-back {
    cursor: pointer;
    background: var(--transparent-white-bg-bt);
    box-shadow: 0px 0px 8px 0px var(--transparent-white-border);
}

span.result h1 {
    font-size: 70px;
    color: #FFFFFF;
    text-shadow: 5px 5px 0px #00e6e6, 10px 10px 0px #01cccc, 15px 15px 0px #00bdbd;
    transition: opacity .5s;
}
