@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --light-primary-color: #e1f2fd;
    --primary-color: #5d9cfa; 
    --primary-color-darker: #03719c;
    --teste: #f86994;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}


ol {
    width: 545px;
    height: 280px;
    margin: 0 auto;
    overflow: auto;
    border-radius: 10px;
    background: var(--light-primary-color);
}

p, h1 {
    text-align: center;
}

input {
    font-size: 18px;
    width: 465px;
    height: 50px;
    padding: 0 20px;
    border-radius: 8px;
    border: none;
    background: var(--light-primary-color);
}

input:focus {
    outline:1px solid  var(--primary-color);
}

button {
    border: none;
    background: var(--primary-color);
    border: 1px solid var(--primary-color-darker);
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    margin-top: 25px;
    height: 50px;
    cursor: pointer;
    border-radius: 8px;
    transition: all .5s;
}

button:hover {
    background: var(--primary-color-darker);
}

.bt-apagar {
    font-size: 12px;
    height: 25px;
}

.container {
    max-width: 640px;
    height: 520px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid var(--primary-color-darker);
}